/* font face */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Variable */
:root {

  /* colors */
  --purple: #453EE6;
  --white: #FFFFFF;
  --gray-white: #F0F4F5;
  --black: #212B35;
  --gray: #65698B;
  --white-purple: #F6F5FD;

  /* typo */
  --heading-fs: 64px;
  --body-fs: 16px;

  --fw-reguler: 400;
  --fw-semi-bold: 600;

  /* transition */
  --transition: 0.25s ease;

  /* section padding */
  --section-padding: 100px;

}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--gray-white);
}

a {
  cursor: pointer;
}

.btn {
  padding: 15px 26px;
  border-radius: 24px;
}

.btn-primary {
  color: var(--white);
  background-color: var(--purple);
  border: 1px solid var(--purple);
  cursor: pointer;
  margin-top: 20px;
  text-transform: capitalize;
  text-wrap: nowrap;
  transition: var(--transition);
  text-decoration: none;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--purple);
}

.btn-secondary {
  color: var(--purple);
  background: transparent;
  border: 1px solid var(--purple);
  text-decoration: none;
  transition: var(--transition);
}

.btn-secondary:hover {
  background-color: var(--purple);
  color: var(--white);
}

h1 {
  font-size: var(--heading-fs);
}

.h2 {
  font-size: 28px;
}

.h4 {
  font-size: 16px;
}

/* Header - Navbar */
header {
  width: 100%;
  height: 112px;
  padding-inline: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 150px;
}

.navbar .menu-icon {
  width: 30px;
}

.navbar .navbar-link {
  display: none;
}

.navbar .navbar-link ul {
  list-style: none;
}

.navbar .navbar-link ul li {
  display: inline;
}

.navbar .navbar-link ul li a {
  color: var(--black);
  text-decoration: none;
}

/* HERO */
#hero {
  width: 100%;
  padding-block: 50px;
  position: relative;
}

#hero .container {
  width: 100%;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#hero .content-text .h1,
#about .content-text .h1 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 56px;
  margin-bottom: 30px;
  font-weight: var(--fw-semi-bold);
}

#hero .content-text .h1 span.lowercase {
  text-transform: lowercase;
}

#hero .content-text .h1 span.brand {
  color: var(--purple);
}

#hero .content-text .desc,
#about .content-text .desc {
  font-size: var(--body-fs);
  line-height: 28px;
  color: var(--gray);
  margin-bottom: 30px;
}

#hero .content-text .form-email {
  margin-bottom: 40px;
}

#hero .content-text .form-email input {
  border: 1px solid rgba(101, 105, 139, .3);
  border-radius: 8px;
  padding: 14px 26px;
}

#hero .content-text .form-email input::placeholder {
  font-size: 16px;
  color: rgba(101, 105, 139, .3);
}

#hero .content-text .form-email .btn-primary {
  color: var(--white);
  background-color: var(--purple);
  border: 1px solid var(--purple);
  cursor: pointer;
  margin-top: 20px;
  text-transform: capitalize;
  text-wrap: nowrap;
  transition: var(--transition);
}

#hero .content-text .form-email .btn-primary:hover {
  background-color: var(--gray-white);
  color: var(--purple);
}

#hero .content-text .logo-partners {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#hero .content-img {
  border-radius: 10px;
  overflow: hidden;
}


/* ABOUT */
#about {
  width: 100%;
  padding-block: var(--section-padding);
  background-color: var(--white);
}

#about .container {
  display: flex;
  flex-direction: column-reverse;
}

#about .content-text {
  padding-inline: 20px;
}

#about .content-text .rate {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

#about .content-text .rate .rate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#about .content-text .rate .rate-item .h3 {
  color: var(--purple);
  font-size: 28px;
}

#about .content-text .rate .rate-item .desc {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  text-transform: capitalize;
}


/* SERVICE */
#service {
  width: 100%;
  padding-block: var(--section-padding);
  background-color: var(--white);
}

#service .container,
#pricing .container {
  padding-inline: 20px;
}

#service .section-title,
#pricing .section-title {
  text-align: center;
  margin-bottom: 70px;
}

#service .section-title .h4,
#pricing .section-title .h4,
#contact .content-text .h4 {
  color: var(--purple);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#service .section-title .h2,
#pricing .section-title .h2,
#contact .content-text .h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

#service .section-title .desc,
#pricing .section-title .desc,
#pricing .pricing-box .desc {
  font-size: 16px;
  line-height: 28px;
  color: var(--gray);
}

#service .service-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#service .service-box,
#pricing .benefit-box {
  padding: 35px 25px;
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px 0px rgba(69, 62, 230, 0.16);
}

#service .service-box .icon-box,
#pricing .benefit-box .icon-box {
  width: 80px;
  height: 80px;
  background-color: var(--white-purple);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

#service .service-box .icon-box img,
#pricing .benefit-box .icon-box img {
  width: 40px;
}

#service .service-box .title-service,
#pricing .benefit-box .title-benefit {
  font-size: 24px;
  color: var(--purple);
  text-transform: capitalize;
  margin-bottom: 15px;
}

#service .service-box .desc,
#pricing .benefit-box .desc {
  color: var(--gray);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

#service .service-box .btn-secondary {
  font-size: 16px;
  text-transform: capitalize;
}


/* PRICING */

#pricing {
  width: 100%;
  padding-block: var(--section-padding);
}

#pricing .pricing-section {
  display: flex;
  flex-direction: column;
}

#pricing .pricing-box {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 10px 40px 0px rgba(69, 62, 230, 0.16);
  padding: 30px 40px;
}

#pricing .pricing-box .h4 {
  font-size: 16px;
  color: var(--purple);
  text-transform: capitalize;
  margin-bottom: 25px;
}

#pricing .pricing-box .price {
  color: var(--purple);
  font-size: 42px;
  margin-bottom: 15px;
}

#pricing .pricing-box .currancy {
  font-size: 24px;
}

#pricing .pricing-box .per {
  font-size: 18px;
  font-weight: 400;
}

#pricing .pricing-box .desc {
  margin-bottom: 40px;
}

#pricing .pricing-benefits {
  display: flex;
  flex-direction: column;
}

#pricing .benefit-box {
  padding-top: 0;
  background: transparent;
  box-shadow: 0 0 0 0;
  gap: 0;
}

#pricing .benefit-box:first-child {
  margin-top: 50px;
}

#contact {
  width: 100%;
  background-color: var(--white);
  padding-block: var(--section-padding);
}

#contact .container {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#contact .content-img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

#contact form ul {
  padding: 0;
}

#contact form ul li {
  margin-bottom: 20px;
}

#contact form ul li.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact .input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact .input-box label {
  font-size: 16px;
  font-weight: 500;
}

#contact .input-box input,
#contact .input-box textarea {
  border: 1px solid rgba(101, 105, 139, .3);
  border-radius: 8px;
  padding: 14px 26px;
}



/* FOOTER */
footer {
  width: 100%;
  padding-top: var(--section-padding);
  background-color: var(--black);
  padding-inline: 20px;
}

footer .foot-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: var(--section-padding);
}

footer .profile-box p.desc {
  color: var(--white-purple);
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
}

footer .social-box {
  margin-top: 30px;
}

footer .social-box ul {
  padding: 0;
  display: flex;
  gap: 15px;
}

footer .social-box .social-icon {
  background-color: var(--gray);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

footer .social-box .social-icon:hover {
  background-color: var(--purple);
}

footer .company-box {
  margin: 0;
}

footer .company-box .title,
footer .resource-box .title,
footer .subscribe-box .title {
  color: var(--gray-white);
  font-size: 18px;
  text-transform: capitalize;
  line-height: 32px;
  font-weight: 500;
}

footer .company-box ul,
footer .resource-box ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .company-box ul li.company-list a,
footer .resource-box ul li.resource-list a {
  color: var(--white-purple);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
}

footer .company-box ul li.company-list a:hover,
footer .resource-box ul li.resource-list a:hover {
  color: var(--purple);
}

footer .subscribe-box input {
  border: 1px solid rgba(101, 105, 139, .3);
  border-radius: 8px;
  padding: 14px 26px;
}

/* Footer Copyright */

footer .foot-copyright {
  width: 100%;
  text-align: center;
  padding-block: 16px;
}

footer .foot-copyright .copy-desc {
  color: var(--gray-white);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .2px;
  text-transform: capitalize;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

  .container,
  #hero .container,
  #about .container,
  #service .container,
  #pricing .container {
    width: 1248px;
    margin-inline: auto;
  }

  .navbar .menu-icon {
    display: none;
  }

  .navbar .navbar-link {
    display: inline;
  }

  .navbar .navbar-link li {
    margin-right: 50px;
  }

  .navbar .navbar-link li:last-child {
    margin-right: 0;
  }

  .navbar .navbar-link li {
    transition: var(--transition);
  }

  .navbar .navbar-link li a:hover {
    color: var(--purple);
  }

  .navbar .navbar-link .btn-secondary {
    color: var(--purple);
    border: 1px solid var(--purple);
    transition: var(--transition);
  }

  .navbar .navbar-link .btn-secondary:hover {
    background-color: var(--purple);
    color: var(--white);
  }

  /* HERO */
  #hero .container,
  #about .container {
    padding: 0;
    flex-direction: row;
  }

  #hero .content-text {
    width: 50%;
  }

  #hero .content-text .h1 {
    font-size: var(--heading-fs);
    line-height: 130%;
  }

  #hero .content-img {
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px 0 0 0;
  }

  #hero .content-img img {
    width: 605px;
    height: 630px;
    object-fit: cover;
  }

  #hero .content-text .form-email .btn-primary {
    margin-block: 0;
    margin-left: 20px;
  }

  /* ABOUT */
  #about {
    position: relative;
  }

  #about .container {
    gap: 70px;
  }

  #about .content-img {
    width: 605px;
    height: 450px;
  }

  #about .content-img img {
    width: 605px;
    height: 450px;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
  }

  #about .content-text {
    width: 50%;
    margin-right: 30px;
  }

  #about .content-text .h1 {
    font-size: 64px;
    line-height: 130%;
  }

  #about .content-text .rate .rate-item .h3 {
    font-size: 42px;
  }


  /* SERVICE */

  #service .section-title .h2,
  #pricing .section-title .h2 {
    font-size: 36px;
    font-weight: var(--fw-semi-bold);
    width: 545px;
    margin-inline: auto;
  }

  #service .section-title .desc,
  #pricing .section-title .desc {
    width: 585px;
    margin-inline: auto;
  }

  #service .service-row {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }

  #service .service-box {
    width: 33%;
  }


  /* PRICING */

  #pricing .pricing-section {
    flex-direction: row;
    gap: 50px;
  }

  #pricing .pricing-box {
    height: 420px;
    
  }

  #pricing .pricing-benefits {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #pricing .benefit-box {
    width: 50%;
  }

  #pricing .benefit-box:first-child {
    margin-top: 0;
  } 


  /* FOOTER */

  footer .foot-content {
    flex-direction: row;
    justify-content: space-between;
  }

  footer .profile-box {
    width: 25%;
  }

  footer .company-box,
  footer .resource-box,
  footer .subscribe-box  {
    margin-top: -40px;
  }

}